In [36]:
x=int(input("Enter a number1: "))
y=int(input("Enter a number2: "))
operator=input("Enter operator: ")
if operator=='+':
    val=x + y;
    print(val,'answer')
elif operator=='-':
    val=x - y;
    print(val,'answer')
elif operator=='*':
    val=x * y;
    print(val,'answer')
elif operator=='/':
    val=x / y;
    print(val,'answer')
elif operator=='**':
    val=x ** y;
    print(val,'answer')

Enter a number1: 2
Enter a number2: 2
Enter operator: **
4 answer

In [22]:
check=['duaa','jawad',3022,123]
for x in check:
    if type(x)==int:
        print(x,"is a numeric value")
    elif type(x)==float:
        print(x,"is a numeric value")

3022 is a numeric value
123 is a numeric value

In [4]:
d = {'Duaa':'Shaikh', 'Sania':'Zehra'}
print(d)
d.update({'Narmeen':'Khan'})
print(d)

{'Duaa': 'Shaikh', 'Sania': 'Zehra'}
{'Duaa': 'Shaikh', 'Sania': 'Zehra', 'Narmeen': 'Khan'}

In [25]:
list = {'a': 7, 'b':4, 'c':3} 
print("The list is:",list)
tot=sum(list.values())
print("Total sum is: ",tot)

The list is: {'a': 7, 'b': 4, 'c': 3}
Total sum is:  14

In [18]:
list1 = [1,2,1,3,1,4,1,4,2,5,9]
dupl = []
for x in list1:
    if x not in dupl:
        dupl.append(x)
print ("The duplicate values are: ",dupl)

The duplicate values are:  [1, 2, 3, 4, 5, 9]

In [10]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
x=int(input("Enter key: "))
if x in d:
    print('Key is present in the dictionary')
else:
    print('Key is not present in the dictionary')

Enter key: 10
Key is not present in the dictionary